body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}

/* apply a background image to all pages */
body {
    background-image:url("assets/blue_watermark_mini_dots.jpg");
    background-repeat: repeat;
    background-color: linen;
}

h2 {
    padding: 20px;
    color: teal;
    font-size: 42pt;
}
/* Navigation Bar - collapses when small */
.navbar-brand { 
    color:teal;
    font-size: 32pt;
    margin-right: 1rem;
    padding-left: 20px;

}
a.nav-link {
    font: 24pt;
}

/* Trying to move navigation tags to right justify.... */
ul.navbar-nav {
    color: grey;
    font: 26pt;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;

}
#navBar {
    margin-right:0px;
    float: right;
}
 div.navbar-collapse {
    display: flex;
    justify-content: flex-end;
 }

.containerNav {
    justify-content: right;

}

/* Text box for About Page */
.box {
    position: absolute;
    top: 180px;
    left: 90px;
   
}
/* Image sizing on About Page */
.img {
    width: 200px;
    float:left;
    left: 0;
   padding-right: 30px;
   padding-bottom: 10px;
   margin: 5px;


}
.container {
    padding: 20px;
    margin: 20px;
}

#portfolio{
    background-color: rgb(189, 189, 189);
    border: solid teal 2px;
    background-color: white;
    margin-top: 30px;
}
    /* container for images on Portfolio page */
.container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    
}

.Submit {
    background-color: teal;
    border-color: teal;
    font: bold;
    padding: 5 px;

}
i.fab {
    padding: 20p;
    background-color: teal;
    width: 70px;
    font-size: 40px;
    margin: 10px;
    background:white;
    color: teal;
}

i.fa-linkedin {
    float: right;
    margin-right: 0px;
    padding-right: 0px;
    bottom: 5px;
}
i.fa-github-square {
    margin-left: 0px;
    bottom: 5px;
}
.icns {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
}
#main{ 
    padding-bottom: 0px;
    margin-bottom: 30px;

}

.card-text {
    font-size: 10pt;
    font-style: italic;
}
.card {
    margin: 5pt;

}

/* Formatting for images on portfolio page */
.thumbnail {
    padding: .8rem;
    border: 1px solid lightslategrey;
    margin: 6px;
    border-radius: .15rem;
    max-width: 100%;
    height: auto;
    /* vertical-align: middle; */
}

.btn-primary {
    align-items: center;
    background-color: teal;
    border: teal;
    

}

footer {
    position: fixed;
    text-align: center;
    padding-top: 15px;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color:teal;
    color: white;
    text-align: center;
    }

    #contact {
        border: none;
        font-size: 18pt;

    }
    #rsmicon {
        align-content: center;
        width: 60px;

    }
    #download{
        border: 3px solid teal;
        padding: 10px;
        border-radius: 5px;
        
    }